  
.company-logo-container
  .company-logo.large
    = image_tag("avatar-blank.png")
.user-details.clearfix
  %ul.block
    %li
      = link_to 'Edit profile', '/users/edit'
    %li.contractor-name= current_user.company.name
    %li.contractor-location
      %i.icon-map-marker
      Cebu, Philippines
.contractor-desc= current_user.company.description

- if request.fullpath == "/dashboard"
  = link_to t("dashboard.buttons.post"), new_job_path, :class => "btn action full"

