.grid_4.alpha
  .pane-white.clearfix
    .user-contractor
      .clearfix
        .user-thumb
          = image_tag("user-1.png")
        .user-details.clearfix
          %ul
            %li.contractor-name= current_user.company.name
            - if current_user.company.address.present?
              %li.contractor-location
                %i.icon-map-marker
                = current_user.company.address
      .contractor-desc= current_user.company.description

  - if request.fullpath == "/dashboard"
    = link_to "Post a project", new_job_path, :class => "btn signup-cta full"
