.cover-overlay
  .container
    .page
      .columns.five.alpha
        = render 'company_info'

      .columns.eleven.omega
        .pane-container
          .pane-nav
            %a.active
              Projects
              .marker
            %a
              Proposals
            %a
              Connections
          .pane-inner
            - @jobs.each do |job|
              .post

                = link_to job_path(job) do
                  .notifier
                    5
                  %h3= job.title
                  = truncate_html strip_tags(job.description), :length => 90
                  .post-date= job.created_at.strftime("%b %d, %Y")

        
                  
