%section.page
  %section.wrapper.container_12.clearfix
    = render 'company_info'

    .grid_8.omega
      .pane-transparent{ :style => 'padding: 0' }

        - @jobs.each do |job|
          .message-excerpt
            = link_to job_path(job) do
              .message-sum
                .post-date= job.created_at.strftime("%b %d, %Y")
                %strong= job.title
                = truncate job.description, :length => 90
