%section.page
  %section.wrapper.container_12.clearfix
    .grid_8.alpha
      %h1
        Edit #{resource_name.to_s.humanize}
      .pane-white.clearfix
        .pane-transparent
          .profile-form
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
              = devise_error_messages!
              .clearfix.section-group
                .grid_7.alpha
                  %fieldset
                    = f.label :email                    
                    = f.email_field :email
              .clearfix.section-group
                .grid_7.alpha
                  %fieldset
                    = f.label :password
                    %i (leave blank if you don't want to change it)
                    = f.password_field :password, :autocomplete => "off"
              .clearfix.section-group
                .grid_7.alpha
                  %fieldset
                    = f.label :password_confirmation
                    = f.password_field :password_confirmation
              .clearfix.section-group
                .grid_7.alpha
                  %fieldset
                    = f.label :current_password
                    %i (we need your current password to confirm your changes)
                    = f.password_field :current_password
              .clearfix.section-group      
                %div= f.submit "Update",{ :class => 'btn cta' }
               
              .clearfix.section-group 
                %p
                  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}.
                = link_to "Back", :back
