%header
  %section.centered.container_12
    .head-wrap.fixed.clearfix
      = link_to "", root_url, :class => "logo", :style => "position: relative"
      
%section

.user-account-single.centered
  %h1 Sign up
  %p 
    Already a member?  &nbsp; 
    - if controller_name != 'sessions'
      = link_to "Sign in", new_session_path(resource_name), :class => 'btn'
    .page
      .form-wrap.fancy-form-wrap
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = devise_error_messages!
          %fieldset
            = f.label :email
            = f.email_field :email
          %fieldset
            = f.label :password
            = f.password_field :password
          %fieldset
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          
          %fieldset
            = f.submit "Sign up", :class => "btn full signup-cta"
          %fieldset
            = render "devise/shared/links"





