%section.page
  %section.wrapper.container_12.clearfix
    = render 'dashboard/company_info'

    .grid_8.omega
      .pane-white{ :style => 'padding: 0' }
        .post-item
          %h1=t @job.title
          .project-meta
            %ul
              %li
                %strong=t 'jobs.show.labels.arrangement'
                = @job.title
              %li
                %strong=t 'jobs.show.labels.experience'
                = @job.experience
          .project-desc
            %p= @job.description

          .job-requirements
            %h2=t 'jobs.show.labels.requirements'
            %p= @job.requirements

      = link_to t("jobs.show.buttons.submit_proposal"), "", :class => "btn signup-cta full"
