.container_12
	.grid_12.alpha
		%ul.inline-list
			%li=t 'footer.copyright_html'
			%li= link_to t('footer.how_it_works'),'/how_it_works'
			%li= link_to t('footer.about'),'#'
			%li= link_to t('footer.contact'),'#'
			%li= link_to t('footer.terms'),'#'
			%li= link_to t('footer.privacy'),'#'
