%section.container_12
  .head-wrap.fixed.clearfix
    = link_to "", root_url, :class => "logo"
    .head-wrap-inner
      %ul.inline-list.right
        - if current_user
          .user-thumb.small
            = image_tag "user-1.png"
          %li= link_to t('header.links.logout'), destroy_user_session_path, :method => :delete

        - else
          %li= link_to t('header.links.how'), ""
          %li= link_to t('header.links.login'), "/users/sign_in", :class => "btn cta"
