= form_for @proposal do |f|
  .pane-white.submit-proposal{ :style => "display: none" }
    %h1=t 'proposals.new.header'

    .profile-info
      .user-contractor.clearfix
        .user-thumb
          = image_tag "user-1.png"
        .user-details
          %ul
            %li.contractor-name= current_user.company.name
            - if current_user.company.address.present?
              %li.contractor-location
                %icon.icon-map-marker
                = current_user.company.address

    .profile-form
      .clearfix.section-group
        .grid_7.alpha
          .section-group
            %fieldset
              = f.label t("proposals.new.labels.monthly_rate")
              .grid_1.alpha
                %fieldset
                  = f.text_field :monthly_rate
              .grid_2.omega{ :style => "width:80px;" }
                = f.select :monthly_currency, options_for_select(currencies.collect { |c| [c.name, c.id] })

          .section-group
            %fieldset
              = f.label t("proposals.new.labels.hourly_rate")
              .grid_1.alpha
                %fieldset
                  = f.text_field :hourly_rate
              .grid_2.omega{ :style => "width:80px;" }
                = f.select :hourly_currency, options_for_select(currencies.collect { |c| [c.name, c.id] })

          .section-group
            %fieldset
              = f.label t("proposals.new.labels.details")
              = f.text_area :details, :class => "input-details"

          = f.hidden_field :post_id, :value => @project.id

  #submit-proposal.hide
    = f.submit t("jobs.show.buttons.submit_proposal"), :class => "btn signup-cta full"
  #show-proposal
    = link_to "Submit a proposal", "#", :class => "btn signup-cta full", :id => "proposeBtn"
