= form_for @proposal do |f|
  .post-item.submit-proposal{ :style => "display: none" }
    %h2=t 'proposals.new.header'
    .post-item-header
      %a.delete-post
        %i.icon-remove
    
      .user-contractor.clearfix
        .company-logo-container
          .company-logo.small              
            = image_tag("avatar-blank.png")
        .user-details
          %ul.block
            %li.contractor-name= current_user.company.name
            %li.contractor-location
              %i.icon-map-marker
              Cebu, Philippines

    .form
      %fieldset
        .columns.four.alpha
          = f.label t("proposals.new.labels.monthly_rate")
          .input-container
            = f.text_field :monthly_rate, :class => 'short inline'
            %select.short.inline
              %option USD
              %option SGD
              %option PHP
            
            
        .columns.four
          
          = f.label t("proposals.new.labels.hourly_rate")
          .input-container
            = f.text_field :hourly_rate, :class => 'short inline'
            %select.short.inline
              %option USD
              %option SGD
              %option PHP
          
      %fieldset 
        = f.label t("proposals.new.labels.details")
        = f.cktext_area :details, :class => "input-details"

        = f.hidden_field :post_id, :value => @project.id

  #submit-proposal.hide
    = f.submit t("jobs.show.buttons.submit_proposal"), :class => "btn signup-cta full"
  #show-proposal
    = link_to "Submit a proposal", "#", :class => "btn signup-cta full", :id => "proposeBtn"
