.cover-overlay
  .container
    .page
      .columns.five.alpha
        = render 'search'
      .columns.eleven.omega
        .pane-container
          .pane-nav
            %a.active
              =t 'projects.header'
              .marker
          .pane-inner.clearfix
            - @projects.each do |p|
              .post
                %a.clearfix
                  .company-logo-container
                    .company-logo.small
                      = image_tag("avatar-blank.png")
                    = p.company.name
                  .post-inner
                    %h3= p.title
                    .project-meta.list-block
                      %ul
                        %li
                          =t 'jobs.show.labels.arrangement'
                          %strong Remote with occasional meetup
                        %li
                          =t 'jobs.show.labels.experience'
                          %strong Senior
                        %li
                          Contract length:
                          %strong 3 months
                    = truncate_html strip_tags(p.description), :length => 150
                    .post-date
                      = p.created_at.strftime("%B %-d")
