.cover-overlay
  .container
    .page
      .columns.twelve.offset-by-two
        .post-item
          .post-item-header
            .company-logo-container
              .company-logo.small              
                = image_tag("avatar-blank.png")
            .user-details
              %ul.block
                %li.contractor-name
                  Clicking Labs
                %li.contractor-location
                  %i.icon-map-marker
                  Cebu, Philippines
          %h1=t @project.title
          .project-meta
            %ul
              %li
                =t 'jobs.show.labels.arrangement'
                %strong= WorkingArrangement.find(@project.working_arrangement).name
              %li
                =t 'jobs.show.labels.experience'
                %strong= Experience.find(@project.experience).name
          .project-desc
            %p= @project.description.html_safe

          .job-requirements
            %h2=t 'jobs.show.labels.requirements'
            %p= @project.requirements.html_safe

        - if current_user
          = render 'proposal'
        - else
          = link_to "Submit a Proposal", send_proposal_project_path(@project), :class => "btn signup-cta full"



      
