!!!
%html
  %head
    %title Staffwisely
    = stylesheet_link_tag    "application-all", :media => "all"
    = stylesheet_link_tag    "application-website", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .message.notice= notice
    .message.alert= alert

    %header.fixed
      = render 'shared/header'

    = yield

    %footer
      = render 'shared/footer'
